* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type:  none;
}

.container {
    width: 90%;
    margin: 4rem auto;
}

.grid {
    display: flex;
    gap: 40px 20px;
    flex-flow: row wrap;
}

.card {
    background-color: lightgrey;
    width: 15rem;
    padding: 15px 10px;
}

.title {
    text-align: center;
    margin-bottom: 4rem;
}